.u-section-1 {min-height: 607px}
.u-section-1 .u-group-1 {min-height: 607px}
.u-section-1 .u-container-layout-1 {padding: 30px}
.u-section-1 .u-group-2 {width: 137px; min-height: 67px; margin: 43px auto 0 40px}
.u-section-1 .u-container-layout-2 {padding: 3px 30px 0}
.u-section-1 .u-text-1 {font-size: 1.5rem; margin: 0 auto 0 8px}
.u-section-1 .u-shape-1 {width: 1060px; height: 442px; margin: -2px auto 0 40px}
.u-section-1 .u-text-2 {width: 884px; margin: -385px auto 0}
.u-section-1 .u-btn-1 {padding: 0} 

@media (max-width: 1199px){ .u-section-1 .u-group-1 {min-height: auto}
.u-section-1 .u-shape-1 {width: 880px; margin-top: 0; margin-left: 0}
.u-section-1 .u-text-2 {width: 789px} }

@media (max-width: 991px){ .u-section-1 .u-shape-1 {width: 720px}
.u-section-1 .u-text-2 {width: 660px} }

@media (max-width: 767px){ .u-section-1 .u-container-layout-1 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-container-layout-2 {padding-left: 10px; padding-right: 10px}
.u-section-1 .u-text-1 {margin-left: 12px}
.u-section-1 .u-shape-1 {width: 540px}
.u-section-1 .u-text-2 {width: 520px} }

@media (max-width: 575px){ .u-section-1 .u-shape-1 {width: 340px}
.u-section-1 .u-text-2 {width: 320px} }